/* For Flexbox Footer */
html, body {
	height: 100%;
	width: auto;
}
body {
	background-image: url("../images/concrete.png");
  	display: flex;
  	flex-direction: column;
}
.content {
	margin-top: 100px;
	padding: 40px;
	border: 1px solid;
	background-color: #ffffff;
}
#profile-image {
	float: left;
	padding: 10px;
	padding-right: 40px;
}
.footer-bottom {
	bottom: 0;
}
.form-width {
	width: 1000px;
}
.section-container {
	background-color: #ffffff;
	margin-top: 50px;
	border: 1px solid #dddddd;
	padding: 20px;
}